@use '../../../assets/styles/variables.scss' as *;

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 16px;
}
.dashboard__btn {
  border: 2px solid $color-neutral;
  border-radius: 8px;
  background-color: $color-neutral;
  font-family: inherit;
  font-size: 16px;
  padding: 3px;
  transition:
    background-color 0.5s,
    color 0.5s;

  &:hover {
    cursor: pointer;
  }
}

.dashboard__btn:hover {
  background-color: $color-base;
  color: $color-neutral;
}
