@import '../../assets/styles/global.scss';
@import '../../assets/styles/variables.scss';

.toast {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $accent;
  color: $white_accent;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0.65;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 1;
    cursor: default;
  }
}
