@use '../../../assets/styles/variables.scss' as *;

.header {
  width: 100%;
  background-color: $color-base;
  // position: relative;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  border-bottom: 3px solid;
  transition:
    background-color 1s,
    border-bottom 0.3s,
    padding 0.7s;
}

.header.sticky {
  // position: sticky;
  // top: 0;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: $color-base-dark;
  border-bottom: 1px solid;

  .link {
    // color: $color-neutral-dark;
  }

  .button {
    // color: $color-neutral-dark;
    // border-color: $color-neutral-dark;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  padding: 10px;
}

.sign_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 12em;
}

.button {
  cursor: pointer;
  border: 2px solid $color-neutral;
  font-family: inherit;
  font-size: inherit;
  color: $color-neutral;
  background-color: $color-base;
  padding: 5px;
  //Вынести этот border-radius в переменную?
  border-radius: 8px;
  transition:
    color,
    background-color 0.5s;
}

.button:hover {
  color: $color-base;
  background-color: $color-neutral;
}

/* Language Switch */
.language_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 4em;
}

.language_item {
  position: relative;
  cursor: pointer;
  transition: color 0.5s;
  border: transparent;
  background: transparent;
  color: $color-neutral;
  font-size: 16px;
  font: inherit;
}

.language_item:hover {
  color: $color-neutral-dark;
}

.language_item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: $color-neutral;
}

.language_item:hover:before {
  width: 100%;
}

.language_item::before {
  transition: width 0.35s;
}
