@use './variables.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  color: $color-neutral;
  background-color: $color-base;
  font-family: 'Fira Code';
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link,
a {
  color: $color-neutral;
  text-decoration: none;
  transition: all 0.4s ease;
}

.link:hover,
a:hover {
  color: $color-neutral-dark;
}
