@use './variables.scss' as *;

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
  color: $color-neutral;
  background-color: $color-base;
  font-family: 'Fira Code';
  font-size: 16px;
}
