$color-neutral: hsla(219, 29%, 78%);
$color-neutral-dark: rgb(103, 111, 126);
$color-base: hsla(219, 29%, 18%);
$color-base-dark: rgb(23, 29, 41);
$color-warning: hsla(30, 100%, 80%);
$color-warning-dark: rgb(202, 159, 116);
$color-info: hsla(208, 100%, 72%);

$grey_dark: #20293d;
$grey: #2a3448;
$grey_light: #6b758b;
$white: #b6c1da;
$accent: #ff5794;
$white_accent: #ffffff;

$border: 1px solid transparent;
$border-container-radius: 12px;

/* MEDIA */
$tablet_size: 768px;
$mobile_size: 470px;
