/* COLORS */
$color-neutral: hsla(219, 29%, 78%);
$color-base: hsla(219, 29%, 18%);

$grey_dark: #20293d;
$grey: #2a3448;
$grey_light: #6b758b;
$white: #b6c1da;
$accent: #ff5794; 

/* VALUES */
$border: 1px solid transparent;
$border-container-radius: 12px;