@import '../../assets/styles/global.scss';
@import '../../assets/styles/variables.scss';

.developer {
  width: calc(28% - 1.4em);
  margin: 0 0.6em 1.4em;
  padding: 0.8em;
  background-color: $grey;
  border-radius: 10px;

  img {
    margin: 1em auto 1em;
    width: 90%;
    border-radius: 50%;
  }

  .info {
    .name {
      font-size: 1.2em;
      font-weight: 900;
    }

    .name a {
      text-decoration: none;
      color: $white_accent;
    }

    .role {
      font-size: 1em;
    }

    .contribution {
      font-size: 0.9em;
    }
  }

  @media (max-width: 600px) {
    width: 50%;
  }

  @media (max-width: 480px) {
    width: 70%;
  }
}
